@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .error {
    color: #C74242;
    padding-bottom: 18px;
}
.eye_open {
    width: 16px;
    height: 12px;
    position: absolute;
    cursor: pointer;
    right: 0;
}

.eye_close {
    width: 16px;
    height: 10px;
    position: absolute;
    cursor: pointer;
    right: 0;
}

.input_error {
    border: 1px solid #C74242 !important;
}
.wrapper form {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    font-size: 60px;
    padding: 20px;
    margin: 100px 0 50px 0;
    display: block;
    color: black;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}
.logo>span {
    color: red;
}

.title {
    font-size: 2em;
    margin-top: 50px;
}

.input_block {
    width: 300px;
    margin-bottom: 30px;
    display: flex;
    position: relative;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.input_block input {
    width: 100%;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-left: solid 3px transparent;
    outline: none;
    font-size: 1em;
}
.input_block input:focus {
    border-left: solid 3px red;
}
.check_button_block {
    width: 120px;
    margin-top: 30px;
}
.check_button_block button {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: none;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.check_button_block button:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.check_button_block button:active {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.sign-up-link {
    margin-top: 40px;
    text-decoration: none;
    color: red
}
.sign-up-link:hover {
    text-decoration: underline;
}