@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  background-color: #fbfbfb;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0468E7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0075bf;
}